*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

body{
    background: #232222; 
    color: #333;
    padding: 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    background: #f68e1f ;
    padding: 10px 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    border-radius: 20px;
    width: 100%;
    z-index: 1000;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}

.logo-section{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

h1{
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.cart-btn, .add-product-btn{
    background: #41403d;
    color: rgb(0, 0, 0);
    padding: 8px 14px;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.header-buttons{
    display: flex;
    gap: 10px;
}


.product-form{
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 20px auto;
    border-radius: 12px;
    max-width: 400px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: none; 
}

.product-form h2{
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.cart-btn span{
    background: white;
    color: #333;
    padding: 4px 8px;
    border-radius: 50%;
    font-weight: bold;
}

.product-form input[type="submit"]{
    background: #f68e1f;
    color: rgb(57, 48, 48);
    cursor: pointer;
    font-weight: 500;
}

.product-form input[type="submit"]:hover{
    background: #e6b800;
}

.product-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 15px;
    margin-top: 30px;
}

.product-card{
    background: #393833;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.product-form input{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 1rem;
    text-align: center;
}
.product-card:hover{
    transform: scale(1.05);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.product-card img{
    width: auto;
    height: 150px;
    object-fit: cover;  
    border-radius: 8px;
}

.product-card h3{
    margin: 8px 0;
    color: #dac8c8;
    font-size: 1.2rem;
}

.product-card p{
    font-size: 1.2rem;
    color: #ffcc00;
}

/* Buttons */

.product-card button:hover{
    background: #cfc59f;
}

.product-card button{
    background: #ffeb9a;
    font-weight: 500;
    font-size: 16px;
    color: black;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
    width: 100%;
    margin-top: 8px;
}

.cart-sidebar{
    position: fixed;
    right: -320px;
    top: 0;
    width: 320px;
    height: 100%;
    background: #fffbe9;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 8px;
    transition: right 0.3s ease-in-out;
}

.cart-sidebar.open{
    right: 0;
}

.cart-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-header h2{
    font-size: 1.5rem;
    color: #333;
}

.close-cart{
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
}

.cart-items{
    margin-top: 20px;
}

.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

.cart-item img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 5px;
}

.cart-item button{
    background: #f68e1f;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
}

.cart-item button:hover{
    background: #e6b800;
}
