h1{
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    align-items: center;
    background-color: hsl(37, 96%, 89%);
    display: flex;
    position: relative;
    display: flex;
    align-items: center;
    gap: 60px;  
    justify-content: center;
    flex-direction: column;
}
  
  
li{
    display: inline-block;
    font-size: 40px;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}
  
li span {
    font-family: 'Courier New', Courier, monospace;
    display: block;
    font-size: 40px;
}
  

  