body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: 
        linear-gradient(
            to bottom,
            #a4e6eb 50%,
            #4acdd6 50%
        );
    font-family: sans-serif;
    background-size: cover;
    
}
*{
    padding: 0;
    margin: 0;
}
main{
    width: 500px;
    height: 560px;
    min-height: 300px;
    background-color: #9f9d9d;
    border-radius: 30px;
    box-shadow: 0 30px 50px #5553;
    padding: 30px;
    box-sizing: border-box;
}
main form{
    border: 2px solid rgba(46, 45, 45, 0.133);
    display: flex;
    border-radius: 30px;
    padding: 20px;
    justify-content: space-between;
}

.inputcity{
    font-size: 20px;
} 

main form input, 
main form button{
    border: none;
    background-color: transparent;
    outline: none;
    padding: px;
    box-sizing: border-box;
}
main form i{
    opacity: 0.7;
}
main .result{
    padding-top: 20px;
    text-align: center;
}
main .result .name{
    font-weight: bold;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
main .temperature img{
    width: 150px;
    filter: drop-shadow(0 10px 50px #555);
}
main .temperature figcaption{
    font-size: 3em;
}
main .description{
    padding: 10px 0 30px;
}
main ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
main li{
    background-color: #f48c58;
    color: #fff;
    border-radius: 10px;
    padding: 20px 10px;
    background-image: linear-gradient(
        to bottom,
        transparent 50%,
        #0003 50%
    );
    font-weight: bold;
    font-size: small;
}





main ul li i{
    font-size: 2em;
    margin: 20px 0;
    display: block!important;
}
main li:nth-child(2){
    background-color: #b56291;
}
main li:nth-child(3){
    background-color: #48567b;
}
main.error{
    animation: errorEffect 0.3s linear 1;
}
@keyframes errorEffect{
    0%{
        transform: translate(10px, 5px)
    }
    25%{
        transform: translate(-5px, 0)
    }
    50%{
        transform: translate(8px, 2px)
    }
    75%{
        transform: translate(-2px, 5px)
    }
    100%{
        transform: translate(0, 0); 
    }
}

.result {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.fade-out {
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none; 
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.description{
    font-size: 18px;
    font-weight: 600;
}

.temp-info span{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}